#btn {
    margin: 100px 50%;
    background-color: blue;
    color: aliceblue;
    width: 200px;
    padding: 30px;
    text-decoration: none;
}

#btn:hover {
    background-color: red;
    color: aliceblue;
    padding: 30px;
}